# Agent components definition
TwitterHdfsAgent.sources=TwitterSource
TwitterHdfsAgent.sinks=HdfsSink
TwitterHdfsAgent.channels=MemoryChannel

# Twitter Source Configuration
TwitterHdfsAgent.sources.TwitterSource.type=org.apache.flume.source.twitter.TwitterSource
TwitterHdfsAgent.sources.TwitterSource.consumerKey=B4YHUSLK5qLIz4inHryPF1MylO
TwitterHdfsAgent.sources.TwitterSource.consumerSecret=ezxk00fp9LgNeEPeVobObXHENp9xavfmBeDIWHNTHv49Jd7mG0
TwitterHdfsAgent.sources.TwitterSource.accessToken=586458598-DnXp9Ulp0gkBYVkbYBOeTT7n8NkDneXdRkKmCo8G
TwitterHdfsAgent.sources.TwitterSource.accessTokenSecret=OslkcLXwC8UBue0uMX5MCoIg4DVqLDLmJgObATtjDy107

# HDFS Sink Configuration
TwitterHdfsAgent.sinks.HdfsSink.type=hdfs
TwitterHdfsAgent.sinks.HdfsSink.hdfs.path=/user/cloudera/hdfs-twitter
TwitterHdfsAgent.sinks.HdfsSink.hdfs.fileType=DataStream
TwitterHdfsAgent.sinks.HdfsSink.hdfs.writeFormat=Text
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollSize=2048
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollInterval=0
TwitterHdfsAgent.sinks.HdfsSink.hdfs.rollCount=0
TwitterHdfsAgent.sinks.HdfsSink.hdfs.callTimeout=10000

# Memory Channel Configuration
TwitterHdfsAgent.channels.MemoryChannel.type=memory
TwitterHdfsAgent.channels.MemoryChannel.capacity=1000
TwitterHdfsAgent.channels.MemoryChannel.transactionCapacity=200

# Binding the components together
TwitterHdfsAgent.sources.TwitterSource.channels=MemoryChannel
TwitterHdfsAgent.sinks.HdfsSink.channel=MemoryChannel




API Key
4YHUSLK5qLIz4inHryPF1MylO

API Key Secret
ezxk00fp9LgNeEPeVobObXHENp9xavfmBeDIWHNTHv49Jd7mG0

Bearer Token
AAAAAAAAAAAAAAAAAAAAAIVcwwEAAAAA362vyZ36v4M111FTa8BiapFxMiA%3DnmpLoCfHsmMen0Wg7SJUNzuGl4n5mxX6tT9OIiGHFqw3cV3wrG